.booking-containers {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(229, 224, 224, 0.949) !important; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



.booking-titles {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
 
}
.wholes {
  background-image: url('../assets/galaxy.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.booking-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.booking-input:focus {
  border-color: #007bff;
}

.booking-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.booking-button:hover {
  background-color: #0056b3;
}
